<div class="container">
    <input #fileInput [id]="fileInputId" type="file" class="hide" [accept]="accept" (change)="uploadFileEvent($event)" />
    <label [for]="fileInputId" class="input-file">
        <mat-icon class="upload-icon">attach_file</mat-icon>
    </label>
    <mat-form-field class="ab-input">
        <input matInput [placeholder]="label" disabled [value]="fileName" />
    </mat-form-field>
    <button *ngIf="!uploading" color="primary" mat-button (click)="upload()">Uploader</button>
    <mat-spinner *ngIf="uploading" diameter="20"></mat-spinner>
</div>
