<mat-accordion>
    <mat-expansion-panel [disabled]="step.state !== 'done' && step.state !== 'pending'" [expanded]="step.state === 'pending'">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ step.icon }}
                {{ step.title }}
                <ng-container *ngIf="step.state === 'done'"> - validé</ng-container>
                <ng-container *ngIf="step.state === 'pending'"> - en attente</ng-container>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div>
            <ng-container #content> </ng-container>
        </div>
    </mat-expansion-panel>
</mat-accordion>
