<div class="timeline-item" [ngClass]="[step.state]">
    <div class="timeline-marker is-emoji" [ngClass]="[step.class]">{{ step.icon }}</div>
    <div class="timeline-content">
        <h2 class="heading">
            <span *ngIf="step.state === 'done'" class="tag is-success">Validé</span>
            <span *ngIf="step.state === 'pending'" class="tag is-warning">En attente</span>{{ step.title }}
        </h2>
        <div class="description">
            <ng-container #content> </ng-container>
        </div>
    </div>
</div>
