<p *ngIf="company.status.validated !== 'done'">{{ step.description }}</p>
<ng-container *ngIf="company.status.validated === 'done'">
    <p>
        Bonne nouvelle ! Votre demande de pack {{ company.sponsoring }} pour le Devfest Lille 2020 a été validé. Vous trouverez ci joint le
        contrat pour ce partenariat à nous retourner signé ainsi que la facture proforma à acquitter. Vous pouvez nous faire parvenir le
        contrat soit en retour de ce mail, soit en le transférant sur ce site cms4devfest. Ce pack {{ company.sponsoring }} vous est reservé
        jusqu'au {{ company.creationDate | add: 15 | date }}.
    </p>
    <ul>
        <li><a [href]="company.conventionUrl">Convention</a></li>

        <li><a [href]="company.devisUrl">Devis</a></li>
    </ul>
</ng-container>
