<mat-form-field class="full-width">
    <mat-label>Sponsoring</mat-label>
    <select matNativeControl required [(ngModel)]="choice">
        <option [value]="company.sponsoring">{{ company.sponsoring }}</option>
        <option [value]="company.secondSponsoring">{{ company.secondSponsoring }}</option>
    </select>
</mat-form-field>
<button color="primary" mat-button (click)="updateSponsoring()">Sauvegarder</button>

<label class="full-width" for="file">Convention (*.pdf)s: <input type="file" (change)="uploadConvention($event)" accept=".pdf" /> </label>
<label class="full-width" for="file">Devis (*.pdf): <input type="file" (change)="uploadDevis($event)" accept=".pdf" /> </label>

<app-files [files]="files"></app-files>

<mat-action-row *ngIf="company.status[step.key] !== 'done'">
    <button mat-button (click)="setDone()">Valider cette étape</button>
</mat-action-row>
