rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /companies/{companyId} {
      allow list, update: if isGdgLille();
      allow create: if true;
      allow get: if true;
    }
  }
}
function isGdgLille() {
    return request.auth.token.email.matches(".*@gdglille.org")
}