<div class="timeline">
    <header class="timeline-header">
        <span class="tag is-medium is-primary">👌</span>
    </header>
    <div class="timeline-item" *ngFor="let step of workflow.steps" [ngClass]="[step.state]">
        <div class="timeline-marker is-emoji" [ngClass]="[step.class]">{{ step.icon }}</div>
        <div class="timeline-content">
            <p class="heading">{{ step.title }}</p>
            <div class="description">
                {{ step.description }}
            </div>
        </div>
    </div>
    <header class="timeline-header">
        <span class="tag is-medium is-primary">🎉</span>
    </header>
</div>
