<mat-card
    ><form [formGroup]="companyProfile" (ngSubmit)="onSubmitForm()">
        <mat-form-field class="full-width">
            <input matInput placeholder="Nom de la Société" type="text" formControlName="name" />
            <mat-error *ngIf="companyProfile.controls.name.errors && companyProfile.controls.name.errors.required"
                >Le nom de la société est obligatoire</mat-error
            >
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Emails des contacts (séparés par des ',')" type="text" formControlName="email" />
            <mat-error *ngIf="companyProfile.controls.email.errors && companyProfile.controls.email.errors.required"
                >Vous devez absolument définir au moins un email</mat-error
            >
            <mat-error *ngIf="companyProfile.controls.email.errors && companyProfile.controls.email.errors.emails"
                >Vos emails ne sont pas valides</mat-error
            >
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Numéro" type="tel" formControlName="tel" />
            <mat-error *ngIf="companyProfile.controls.tel.errors && companyProfile.controls.tel.errors.required"
                >Le numéro de téléphone est obligatoire</mat-error
            >
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Adresse" type="text" formControlName="address" />
            <mat-error *ngIf="companyProfile.controls.address.errors && companyProfile.controls.address.errors.required"
                >L'adresse' est obligatoire</mat-error
            >
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Code Postal" type="text" formControlName="zipCode" />
            <mat-error *ngIf="companyProfile.controls.zipCode.errors && companyProfile.controls.zipCode.errors.required"
                >Le code postal est obligatoire</mat-error
            >
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Ville" type="text" formControlName="city" />
            <mat-error *ngIf="companyProfile.controls.city.errors && companyProfile.controls.city.errors.required"
                >La ville est obligatoire</mat-error
            >
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="SIRET" type="text" formControlName="siret" />
            <mat-error *ngIf="companyProfile.controls.siret.errors && companyProfile.controls.siret.errors.required"
                >Le numéro de siret est obligatoire</mat-error
            >
            <mat-error *ngIf="companyProfile.controls.siret.errors && companyProfile.controls.siret.errors.siret"
                >Le numéro de siret n'est pas valide</mat-error
            >
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Représentant" type="text" formControlName="representant" />
            <mat-error *ngIf="companyProfile.controls.representant.errors && companyProfile.controls.representant.errors.required"
                >Le représentant est obligatoire</mat-error
            >
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Role dans l'entreprise" type="text" formControlName="role" />
            <mat-error *ngIf="companyProfile.controls.role.errors && companyProfile.controls.role.errors.required"
                >Le rôle du représentant est obligatoire</mat-error
            >
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Partenariat</mat-label>
            <select matNativeControl formControlName="sponsoring">
                <option>Gold</option>
                <option>Silver</option>
                <option>Bronze</option>
            </select>
            <mat-error *ngIf="companyProfile.controls.sponsoring.errors && companyProfile.controls.sponsoring.errors.required"
                >Le pack de sponsoring est obligatoire</mat-error
            >
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Partenariat de second choix</mat-label>
            <select matNativeControl formControlName="secondSponsoring">
                <option>Gold</option>
                <option>Silver</option>
                <option>Bronze</option>
            </select>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Langue préférée</mat-label>
            <select matNativeControl formControlName="lang">
                <option value="fr">Française</option>
                <option value="en">Anglaise</option>
            </select>
            <mat-error *ngIf="companyProfile.controls.lang.errors && companyProfile.controls.lang.errors.required"
                >La langue est obligatoire</mat-error
            >
        </mat-form-field>

        <button type="submit" [disabled]="!companyProfile.valid" mat-button color="primary">
            Submit <span *ngIf="submitted">✅</span>
        </button>
    </form>
</mat-card>
