<form [formGroup]="companyProfile" (ngSubmit)="onSubmitForm()">
    <div class="field">
        <label class="label"
            >Nom de la Société
            <div class="control">
                <input class="input" type="text" formControlName="name" /></div
        ></label>
    </div>
    <div class="field">
        <label class="label"
            >Emails des contacts (séparés par des ',')
            <div class="control">
                <input class="input" type="email" formControlName="email" />
            </div>
        </label>
    </div>
    <div class="field">
        <label class="label"
            >Adresse
            <div class="control">
                <input class="input" type="text" formControlName="address" /></div
        ></label>
    </div>
    <div class="field">
        <label class="label"
            >Code Postal
            <div class="control">
                <input class="input" type="text" formControlName="zipCode" /></div
        ></label>
    </div>
    <div class="field">
        <label class="label"
            >Ville
            <div class="control">
                <input class="input" type="text" formControlName="city" /></div
        ></label>
    </div>
    <div class="field">
        <label class="label"
            >SIRET
            <div class="control">
                <input class="input" type="text" formControlName="siret" /></div
        ></label>
    </div>
    <div class="field">
        <label class="label"
            >Représentant
            <div class="control">
                <input class="input" type="text" formControlName="representant" />
            </div>
        </label>
    </div>

    <div class="field">
        <label class="label"
            >Role dans l'entreprise
            <div class="control">
                <input class="input" type="text" formControlName="role" />
            </div>
        </label>
    </div>
    <div class="field">
        <label class="label" for="sponsoring">Partenariat</label>
        <div class="select control">
            <select formControlName="sponsoring" id="sponsoring" class="input">
                <option>Gold</option>
                <option>Silver</option>
                <option>Bronze</option>
            </select>
        </div>
    </div>
    <div class="field">
        <label class="label" for="lang">Langue préférée</label>
        <div class="select control">
            <select formControlName="lang" id="lang" class="input">
                <option value="fr">Française</option>
                <option value="en">Anglaise</option>
            </select>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button [disabled]="!companyProfile.valid" class="button is-link">
                Submit
            </button>
        </div>
    </div>
</form>
