<ng-container *ngIf="isLoading">
    <app-loader></app-loader>
</ng-container>
<ng-container *ngIf="!isLoading">
    <div class="tabs is-centered is-fullwidth is-toggle">
        <ul>
            <li routerLinkActive="is-active">
                <a [routerLink]="['workflow']"><span class="icon is-small">📅</span> <span>Avancement</span></a>
            </li>
            <li routerLinkActive="is-active">
                <a [routerLink]="['infos']"><span class="icon is-small">📝</span> <span>Mes Informations</span></a>
            </li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</ng-container>
