<div class="inline-bloc">
    <app-upload (uploadFile)="upload($event)" [isEnable]="" accept=".png,.svg" label="Logo (*.png, *.svg)"></app-upload>
</div>

<mat-form-field class="full-width">
    <textarea [(ngModel)]="company.twitter" matInput placeholder="Message Twitter" maxlength="280"></textarea>
</mat-form-field>

<mat-form-field class="full-width">
    <textarea [(ngModel)]="company.linkedin" matInput placeholder="Message LinkedIN"></textarea>
</mat-form-field>

<app-files [files]="files"></app-files>

<button color="primary" mat-button (click)="update()">Sauvegarder</button>
