<mat-form-field class="full-width">
    <textarea [(ngModel)]="company.twitter" matInput placeholder="Message Twitter"></textarea>
</mat-form-field>
<mat-form-field class="full-width">
    <textarea [(ngModel)]="company.facebook" matInput placeholder="Message Facebook"></textarea>
</mat-form-field>

<mat-form-field class="full-width">
    <textarea [(ngModel)]="company.linkedin" matInput placeholder="Message LinkedIN"></textarea>
</mat-form-field>

<button mat-button (click)="update()">Valider</button>
