<mat-card>
    <mat-chip-list aria-label="Dashboard">
        <mat-chip>{{ numberOther }} Autres</mat-chip>
        <mat-chip>{{ numberESN }} ESN</mat-chip>
    </mat-chip-list>
</mat-card>

<mat-card>
    <mat-radio-group [ngModel]="sortBy" (ngModelChange)="sortByChange($event)" aria-label="Select an option" [labelPosition]="'before'">
        <mat-radio-button *ngFor="let option of sortByValues" [value]="option">{{ option }}</mat-radio-button>
    </mat-radio-group>
</mat-card>
<table mat-table [dataSource]="partners" class="mat-elevation-z8 full-width">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="sponsoring">
        <th mat-header-cell *matHeaderCellDef>Sponsoring</th>
        <td mat-cell *matCellDef="let element">{{ element.sponsoring }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
            <a [href]="'/#/admin/partner/' + element.id" mat-button color="accent">
                Edit
            </a>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
