<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="assets/img/gdg.png" />
            GDG LILLE
            <br />
            PARTNERS
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a *ngIf="isLoggedIn" class="navbar-item" href="/#/admin">
                Administration
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <button *ngIf="!isLoggedIn" (click)="login()" class="button is-light">
                        Log in
                    </button>
                    <button *ngIf="isLoggedIn" (click)="logout()" class="button is-light">
                        Log out
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="container">
    <router-outlet></router-outlet>
</section>
