.navbar-brand {

    .navbar-item {
        font-size: 11px;
        font-weight: bold;

        img {
            margin-right: 20px;
        }
    }
}

@media screen and (max-width: 600px) {
    #logout {
        display: none;
    }
}