<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img
        src="https://bulma.io/images/bulma-logo.png"
        width="112"
        height="28"
      />
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a *ngIf="isLoggedIn" class="navbar-item" href="/#/admin">
        Administration
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <button *ngIf="!isLoggedIn" (click)="login()" class="button is-light">
            Log in
          </button>
          <button *ngIf="isLoggedIn" (click)="logout()" class="button is-light">
            Log out
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="columns">
    <div class="column is-3"></div>
    <div class="column is-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
