<div class="tabs is-centered is-fullwidth is-toggle">
    <ul>
        <li routerLinkActive="is-active">
            <a [routerLink]="['dashboard']">
                <span class="icon is-small">📺</span>
                <span>Tableau de bord</span>
            </a>
        </li>
        <li routerLinkActive="is-active">
            <a [routerLink]="['workflow']">
                <span class="icon is-small">📅</span>
                <span>Avancement</span>
            </a>
        </li>
        <li routerLinkActive="is-active">
            <a [routerLink]="['infos']">
                <span class="icon is-small">📝</span>
                <span>Mes Informations</span>
            </a>
        </li>
        <li routerLinkActive="is-active">
            <a [routerLink]="['faq']">
                <span class="icon is-small">🤔</span>
                <span>FAQ</span>
            </a>
        </li>
    </ul>
</div>

